.cabecalho {
    background-color: black;
    color: blueviolet;
    display: flex;
    padding: 24px 0;
}

.section1 {
    color: blueviolet;
    padding: 100px;
}

.section2 {
    background-color: blueviolet;
    padding: 100px;
}

.section3 {
background-color: blueviolet;
padding: 100px;
}

.cabecalho-imagem {
    width: 20%;
}

    .rodepe {
        background-color: blueviolet;
        padding: 100px;
    }
    .rodepe