.cabecalho {
    background-color: black;
    color: aliceblue;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: blue;
    padding: 100px;
}

.section2 {
    background-color: blue;
    background-color: black;
    padding: 100px;
}

.cabecalho-imagem{
width: 20%;
.rodepe {
    background-color: black;
background-color: blue;
padding: 100px;

